
<%= form_with model: @user do |f| %>

<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
       <div class="col-sm-12 col-md-8 col-ig-5 px-5 px-sm-0 mx-auto">

    <h1>User info</h1>

  <div class="form-group">
  <h5>Name</h5>

  <%= f.text_field :name %>

  <div class="form-group">
  <h5>Image</h5>
  <%= f.file_field :profile_image, accept: "image/*" %>


  <div class="form-group">
  <h5>Introduction</h5>
  <%= f.text_area :introduction %>

  <div class="form-group">
<%= f.submit "Update User", class: "btn btn-secondary" %>
<% end %>
</div>
</form>